/* .heading1 {
    margin-left: 300px;
} */
/*In globalscope/style.css transferd because all pages need the layout adjustment of the header
*/
.clr-blue {
    color: #22318B;
}

.mainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 75px;
    margin-right: 40px;
    margin-bottom: 25px;
}

.d-none {
    display: none !important;
}

.todo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d6d5dc;
    height: 100px;
    margin-right: 40px;
    border-radius: 10px;
    border-left: 10px solid black;
    margin-bottom: 25px;
    cursor: pointer;
}

.todo-container:hover {
    background-color: #bdbdbd;
}
.person-info {
    display: flex;
    align-items: center;
    width: 32%;
}

.person-name {
    margin-bottom: 12px;
}

.profile-img {
    border-radius: 60%;
    border: white solid 4px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    margin-left: 15px;
}

.profile {

    height: 50px;
    width: 50px;
    object-fit: contain;
    border-radius: 100%;
}

.details {
    height: min-content;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 25%;
    text-align: center;
}

.catagroy {
    width: 10%;
}

.font-s-17 {
   font-size: 17px;
}

.font-s-14 {
    font-size: 14px;
}

.font-s-20 {
    font-weight: 900;
    font-size: 20px;
}

.m-btm-2 {
    margin-bottom: 2px;
}

.input-feld {
    text-align: center;
    overflow: visible;
    height: min-content;
}

.chnge-container {
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pushToBoard {
    height: 35px;
    margin-right: 8px;
}


 







/* Responsive */

@media (max-width:900px) {
    .heading1 {
        margin-left: 12px;
        margin-top: 70px;
        transition: all 115ms ease-in-out;
    }

    .todo-container {
        margin-right: 12px;
        flex-direction: column;
        height: 250px;
        border-left: 30px solid green;
        position: relative;
    }

    .person-info,
    .catagroy,
    .details {
        width: fit-content;
    }

    .ctg-absolute {
        position: absolute;
        transform: rotate(270deg);
    }
}