html,
body {
    overflow-x: hidden;
    height: 100%;
}

body {
    min-height: 100vh;
    min-width: 100wh;
    background: #fff;
    padding: 0;
    margin-left: 300px;
    font-family: 'Varela Round', sans-serif;
}