html,
body {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    height: 100%
}

body {
    min-height: 100vh;
    background: #fff;
    margin-left: 250px;
    font-family: 'Varela Round', sans-serif;
}

.heading1 {
    margin-left: 50px;
}