* {
    font-family: 'Varela Round', sans-serif;
}

html,
body {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    height: 100%
}

body {
    min-height: 100vh;
    background: #fff;
    margin-left: 250px;
}

.heading1 {
    margin-left: 50px;
}

.m-left-50 {
    margin-left: 50px;
}

@media(max-width: 900px) {
    body {
        margin-left: 0;
        overflow-y: scroll;
    }
    .heading1 {
        margin-left: 15px;
    }
}