<div class="header">
    <a href="../index.html"><img class="header-img" src="Img/logo.png" alt=""></a>
</div>
<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
<label for="openSidebarMenu" class="sidebarIconToggle">
          <div class="spinner diagonal part-1"></div>
          <div class="spinner horizontal"></div>
          <div class="spinner diagonal part-2"></div>
        </label>
<div id="sidebarMenu">
    <ul class="sidebarMenuInner">
        <li>
            <a href="#"><img src="Img/logo.png"></a>
        </li>
        <li><a href="board.html">Board</a></li>
        <li><a href="backlog.html">Backlog</a></li>
        <li><a href="addTask.html">Add Task</a></li>
        <li><a href="help.html">Help</a></li>
    </ul>
</div>