<div class="header">
</div>
<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
<label for="openSidebarMenu" class="sidebarIconToggle">
          <div class="spinner diagonal part-1"></div>
          <div class="spinner horizontal"></div>
          <div class="spinner diagonal part-2"></div>
        </label>
<div id="sidebarMenu">
    <ul class="sidebarMenuInner">
        <li>
            <a href="#"><img src="Img/logo.png"></a>
        </li>
        <li><a href="#">Board</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Add Task</a></li>
        <li><a href="#">Help</a></li>
    </ul>
</div>