<div class="header hide-img">
    <a href="index.html"><img class="header-img" src="img/logo.png" alt=""></a>
</div>
<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
<label for="openSidebarMenu" class="sidebarIconToggle">
          <div class="spinner diagonal part-1"></div>
          <div class="spinner horizontal"></div>
          <div class="spinner diagonal part-2"></div>
        </label>
<div id="sidebarMenu">
    <ul class="sidebarMenuInner">
        <li class="border-left responsive-mobile">
            <a href="index.html"><img class="responsive-mobile" src="img/logo.png"></a>
        </li>
        <li class="border-left"><a href="board.html">Board</a></li>
        <li class="border-left"><a href="backlog.html">Backlog</a></li>
        <li class="border-left"><a href="addTask.html">Add Task</a></li>
        <li class="border-left"><a href="help.html">Help</a></li>
    </ul>


    <div class="footer">
        <a href="impressum.html">Impressum</a>
        <a href="datenschutz.html">Datenschutz</a>
    </div>
</div>